body {
    background-image: url(../images/Mysterious\ Forrest.jpg);
    background-size: cover;
}
.jumbotron {
    background: #626767;
    opacity: 0.8;
}

.display-4, .lead {
    color: #fff;
    font-weight: 400;
}

.content {
    background: #fff;
    opacity: 0.65;
}

p {
    font-size: 24px;
}
.row {
    padding: 10px 0;
}